<div class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Start Bootstrap </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" >Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed">Disabled</a>
      <ul class="nav flex-column" [ngbCollapse]="isCollapsed">
        <li class="nav-item">
          <a class="nav-link active" >Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Link</a>
        </li>
      </ul>

    </li>
  </ul>
</div>
