/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";


body {
  overflow-x: hidden;
}


#wrapper{
  background: #f6f7fb;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -180px;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  background-color: #47525d;
  height: 100%;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 180px;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -180px;
  }
}


.main{
  background-color: #fff;
  min-height: 100vh;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
