<ngb-tabset class="custom-tab">
  <ngb-tab title="EMPLOYEE">
    <ng-template ngbTabContent>
     Employee
    </ng-template>
  </ngb-tab>
  <ngb-tab title="ROLE">
    <ng-template ngbTabContent>
      ROLE
    </ng-template>
  </ngb-tab>
  <ngb-tab title="CASHOUT" >
    <ng-template ngbTabContent>
      Cashout
    </ng-template>
  </ngb-tab>
  <ngb-tab title="ADD PAYROLL" >
    <ng-template ngbTabContent>
     ADD PAYROLL
    </ng-template>
  </ngb-tab>
  <ngb-tab title="PAYROLL" >
    <ng-template ngbTabContent>
      PAYROLL
    </ng-template>
  </ngb-tab>
</ngb-tabset>
