::ng-deep .custom-tab{
 .nav{
  //  border-bottom: transparent;
   border-bottom: 4px solid #989898;
   .nav-item{
     margin-bottom: 0;
     .nav-link{
      font-size: 12px;
      border-color: transparent;
      padding: 25px 10px 15px;
      width: 150px;
      text-align: center;
      position: relative;
      color: #999;
      font-weight: 700;
    &.active{
      color: #000;
      &:after{
        content: '';
        left: 0;
        right: 0;
        position: absolute;
        bottom: -5px;
        height: 4px;
        background-color: #ed2890;
      }
    }



     }
   }
 }
}
